# macOS system files
.DS_Store
.AppleDouble
.LSOverride
Icon?
._*

# Xcode
*.xcuserstate
*.xccheckout
*.xcscmblueprint
xcuserdata/
*.moved-aside
*.hmap
*.ipa
*.dSYM
*.dSYM.zip
*.xcworkspace

# Derived data and build
DerivedData/
build/
*.o
*.swp
*.lock
*.mode1v3
*.mode2v3
*.perspectivev3

# Swift Package Manager
.build/
Packages/

# CocoaPods
Pods/

# Carthage
Carthage/Build/

# Fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/**/*.png
fastlane/test_output

# Logs
*.log

